@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Libre+Barcode+128+Text&family=Monofett&family=Rock+Salt&family=Special+Elite&display=swap');

/*---PAGE---*/
.page-container {
    position: relative;
    min-height: 100vh;
  }
  
.content-wrap {
    padding-bottom: 2.5rem;    
  }
  
/*---HEADER---*/
header {
    background-color: black;
    background-image: url("colornotes.jpg");
    display: flex;
    justify-content: space-between;
    font-family: 'Rock Salt';
    height: 300px;
    background-repeat: no-repeat; 
}

.tapes {
    width: 336px;
    height: 200px;
}

.body {
    display: center;
    float: left;
    align-items: center;
    position: fixed;
}

.logo {
  border-radius: 15px;
}
/*---THEME---*/
Table {
  background-color: #dd2e2e;
  text-align: center;
  font-family: 'Special Elite';
}

tbody {
  text-align: center;
}

th {
  font-size: xx-large;
}

td{
  vertical-align: center;
  font-size: x-large;
}

tbody:hover {
  background-color: salmon;
}

.barcode {
  font-family: 'Libre Barcode 128 Text';
  text-align: center;
  font-size: 90px;
  background-color: #dd2e2e;

}

.header-profile-img {
  width: 175px;
  height: 175px;
  border-radius: 30%;
  margin: 2rem 8rem 2rem 8rem; 
 
}

.outer-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:1rem;

}

.image-container {
  margin: 1rem; 


}

.link-container {
  margin: 1rem;

}

.link {
  color: white;
  margin: 1rem;
  text-decoration: none;

}

.link:hover {
  color:salmon;
}



/*---FOOTER---*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  height: 2.5rem; 
  min-height: 100%;
  height: 50px;
  margin: 0 auto -50px;
  font-family: 'Special Elite'; 

  }

  .footer {
    background: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Special Elite'; 
  
    }