@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Libre+Barcode+128+Text&family=Monofett&family=Rock+Salt&family=Special+Elite&display=swap');


/*---PAGE---*/
.page-container {
    position: relative;
    min-height: 100vh;
  }
  
.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
/*---HEADER---*/
header {
    background-color: black;
    background-image: url("colornotes.jpg");
    display: flex;
    justify-content: space-between;
    height: 300px; /* You must set a specified height */
    // background-position: center; /* Center the image */
    // background-repeat: no-repeat; /* Do not repeat the image */
    // background-size: cover; /* Resize the background image to cover the entire container */

}

.tapes {
    width: 336px;
    height: 200px;
}

.body {
    display: center;
    float: left;
    align-items: center;
    position: fixed;
    background-color: #1e1d1d;
}


/*---THEME---*/
th {
  background-color: #dd2e2e;
  font-size: xx-large;
  font-family: 'Special Elite', cursive;
  
}

.barcode {

  // font-family: 'Monofett', cursive;
  font-family: 'Libre Barcode 128 Text', cursive;
  text-align: center;
  font-size: 90px;
  background-color: #dd2e2e;

}

.header-profile-img {
  width: 175px;
  height: 175px;
  border-radius: 30%;
  margin: 2rem 8rem 2rem 8rem; 
 
}

.outer-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:1rem;

}

.image-container {
  margin: 1rem; 


}

.link-container {
  margin: 1rem;

}

.link {
  color: white;
  margin: 1rem;
  text-decoration: none;

}

.link:hover {
  color:salmon;
}


/*---FOOTER---*/
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;           
  }

  tbody:hover {
    background-color: #9b0d37;

  }

  tbody {
    text-align: center;
    background: #ffffff url() repeat;
    border-collapse: collapse;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    }
  

