@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Libre+Barcode+128+Text&family=Monofett&family=Rock+Salt&family=Special+Elite&display=swap');

/*---PAGE---*/
.page-container {
    position: relative;
    min-height: 100vh;
  }
  
.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
/*---HEADER---*/
header {
    background-color: #0b090a;
    display: flex;
    justify-content: space-between;
    font-family: 'Rock Salt';
}

.tapes {
    width: 336px;
    height: 200px;
}

.body {
    display: center;
    float: left;
    align-items: center;
    position: fixed;
}

.logo {
  border-radius: 15px;
}
/*---THEME---*/
Table {
  background-color: #dd2e2e;
  text-align: center;
  font-family: 'Special Elite';
}

tbody {
  text-align: center;
}

th {
  font-size: xx-large;
}

td{
  vertical-align: center;
  font-size: x-large;
}

tbody:hover {
  background-color: #b1a7a6;
}

.barcode {
  // font-family: 'Monofett', cursive;
  font-family: 'Libre Barcode 128 Text';
  text-align: center;
  font-size: 90px;
  background-color: #dd2e2e;
}


/*---FOOTER---*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;    
  font-family: 'Special Elite'; 
  }